<div class="coll" @collapseTrigger *ngIf="true">
  <div class="ccontainer" [ngSwitch]="action">
    <div class="container" *ngSwitchCase="'german'">
      <p>Ich spreche perfektes Deutsch.</p>
    </div>
    <div class="container" *ngSwitchCase="'english'">
      <p>As you can hopefully see from the rest of this page, my English is pretty decent.</p>
    </div>
    <div class="container" *ngSwitchCase="'japanese'">
      <p>少し日本語が話せます。</p>
    </div>
    <div class="angular" *ngSwitchCase="'angular'">
      <p>This site was built using the Angular framework. So I will let you decide what my proficiency level should be.</p>
      <div class="rating-holder">
        <button class="btn rating-button star-rating-1 star-rating star-empty" [class.selected]="selectedRating == 5" type="button" name="button" value="1" (click)="click(5)"><i class="fas fa-star "></i></button>
        <button class="btn rating-button star-empty star-rating-2 star-rating" [class.selected]="selectedRating == 4" type="button" name="button" value="2"  (click)="click(4)"><i class="fas fa-star "></i></button>
        <button class="btn rating-button star-rating-3 star-empty star-rating" [class.selected]="selectedRating == 3" type="button" name="button" value="3" (click)="click(3)"><i class="fas fa-star  "></i></button>
        <button class="btn rating-button star-empty star-rating-4 star-rating" [class.selected]="selectedRating == 2" type="button" name="button" value="4" (click)="click(2)"><i class="fas fa-star "></i></button>
        <button class="btn rating-button star-empty star-rating-5 star-rating" [class.selected]="selectedRating == 1" type="button" name="button" value="5" (click)="click(1)"><i class="fas fa-star "></i></button>

      </div>
    </div>
  </div>
</div>
