<div class="coll" @collapseTrigger *ngIf="true">
  <div class="ccontainer" [ngSwitch]="action">

    <div class="container content-light pt-3" *ngSwitchCase="'games'">
      <p>Videogames are fun. To prove it why don't play a round of tetris here. Careful though: It can be addicting. </p>
      <app-tetris-component></app-tetris-component>
    </div>

    <div class="container content-light pt-3" *ngSwitchCase="'chess'">
      <p>There is something about chess that keeps me always coming back to it. Every game is different and it provides a new challenge every time you play it. Want to challenge yourself? Play todays daily chess puzzle from chess.com down below.</p>
      <iframe style="minwidth: 100%; width: 400px; height: 560px;" src="https://www.chess.com/daily_puzzle" frameborder="0"></iframe>
    </div>

    <div class="container content-light pt-3" *ngSwitchCase="'drawing'">
      <p >I always thought that I have no talent when it comes to drawing. But in May 2020 I wanted to figure out if there even is such a thing as talent. So I took an online course and spent a few hundred hours to learn how to draw portraits. Here
        you can see some of my drawings. I will let you decide if drawing needs talent.</p>
        <div class="row">
          <div class="col-md-4">
            <img width="100%" height="100%" src="assets/Drawing1.png" alt="">
          </div>
          <div class="col-md-4">
            <img width="100%" height="100%" src="assets/Drawing2.png" alt="">
          </div>
          <div class="col-md-4">
            <video width="100%" height="100%" autoplay>
              <source src="assets/video.MP4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>

    </div>


  </div>
</div>
