<div class="top container">
  <h1>{{title}}</h1>
  <hr>
  <h3>Interactive Resume</h3>
</div>
<div class="content content-light" id="Profile">
  <div class="container">

    <h1>Profile</h1>
    <h3>Software Developer, Creative Mind, Learning Enthusiast</h3>
    <hr>
    <div class="row mt-5">
      <div class="col-md-4 abo-col">
        <h2>About</h2>
        <p>I am a Physicst turned Software Developer for both Frontend and Backend topics. I am a curious mind, always trying to figure things out and find new solutions. I do not know everything but there is nothing I cannot learn, as I am highly adaptable and eager to improve my knowledge. </p>
      </div>
      <div class="col-md-4">
        <img class="portrait" src="assets/Portrait.jpg" alt="">
      </div>
      <div class="col-md-4 det-col">
        <h2>Detail</h2>
        <p><strong>Name</strong><br>
          Alexander Tippmann <br>
          <strong>Age</strong><br>
          26 <br>
          <strong>Location</strong><br>
          St. Leon-Rot, Baden-Württemberg, <br>
          Germany, Earth <br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="content content-contrast" id="Experiences">
  <div class="container">
    <h1>Experiences</h1>
    <h2 class="fl">Education</h2>
    <div class="experience-container mt-5" *ngFor="let education of educations">
      <div class="row">
        <div class="col-md-4">
          <h3 class="fl">{{education.location}}</h3>
          <p>{{education.dates}}</p>
        </div>
        <div class="col-md-8">
          <h3 class="fl">{{education.position}}</h3>
          <p>{{education.description}}</p>
        </div>
      </div>
    </div>
    <h2 class="fl">Careers</h2>
    <div class="experience-container mt-5" *ngFor="let career of careers">
      <div class="row">
        <div class="col-md-4">
          <h3 class="fl">{{career.location}}</h3>
          <p>{{career.dates}}</p>
        </div>
        <div class="col-md-8">
          <h3 class="fl">{{career.position}}</h3>
          <p>{{career.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content content-light" id="Abilities">
  <div class="container">
    <h1>Abilities</h1>
    <app-skills-component></app-skills-component>
  </div>
</div>

<div class="content content-contrast" id="Hobbies">
  <div class="container">
    <h1>Hobbies</h1>
    <h3>My Hobbies frequently change, but currently I spend my free time on the following</h3>
    <hr>
    <app-hobbies-component></app-hobbies-component>
  </div>
</div>

<div class="footer" id="Contact">
  <div class="container">
    <h1>Contact</h1>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <ul class="contact-list list-group">
          <li class="contact-item list-group-item"> <i class="fab fa-linkedin contact-icon"></i> <a class="contact-link" href="https://www.linkedin.com/in/alexander-tippmann-5a798b180">https://www.linkedin.com/in/alexander-tippmann-5a798b180</a></li>
          <li class="contact-item list-group-item"> <i class="fas fa-at contact-icon"></i> <a class="contact-link" href="mailto:contact@alexti.de">contact@alexti.de</a></li>
        </ul>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

</div>
