<div class="row mt-5">
  <div class="col-md-6">
    <ul class="skill-list">
      <li class="skills hobby-item" *ngFor="let hobby of hobbiesLeft">
        <button class="hobby-button btn" type="button" name="button" [attr.disabled]="hobby.action == 'none' ? 'disabled' : null" (click)="onSelect(hobby)" [class.pulse]="hobby.action !='none'">
          <h4>{{hobby.name}}</h4>
        </button>
        <div class="collapsible" *ngIf="hobby.action != 'none' && selectedHobby == hobby">
          <app-hobbies-collapse-component [hobby]="selectedHobby"></app-hobbies-collapse-component>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul class="skill-list ">
      <li class="skills hobby-item" *ngFor="let hobby of hobbiesRight">
        <button class="hobby-button btn" type="button" name="button" [attr.disabled]="hobby.action == 'none' ? 'disabled' : null" (click)="onSelect(hobby)" [class.pulse]="hobby.action !='none'">
          <h4>{{hobby.name}}</h4>
        </button>
        <div class="collapsible" *ngIf="hobby.action != 'none' && selectedHobby == hobby">
          <app-hobbies-collapse-component [hobby]="selectedHobby"></app-hobbies-collapse-component>
        </div>
      </li>
    </ul>
  </div>
</div>
