/* You can add global styles to this file, and also import other style files */
/*color palette
contrast: #cdf0ea
content-light: #f9f9f9
content-contrast: #faf3ea
accent: #8e6fdc
*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #8e6fdc;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.purple {
  color: #8e6fdc !important;
}

h1 {
  font-size: 250%
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
  font-weight: 300;
}

h4 {
  font-size: 120%;
  font-weight: 300;
}

p {
  text-align: left;
  color: black;
  font-weight: 300;
}

hr {
  text-align: center;
  margin: 1rem 30% 1rem 30%;
}

.fl {
  text-align: left;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1150px;
  }
}

.top {
  color: #cdf0ea;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.content {
  color: #8e6fdc;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.content-light {
  background-color: #f9f9f9;
}

.content-contrast {
  background-color: #faf3ea;
}

.footer {
  background-color: #4b2e83;
  color: #f9f9f9;
  padding-top: 3rem;
}

.portrait {
  width: 50%;
  border-radius: 50%;
}

.det-col {
  text-align: left;
}

.abo-col {
  text-align: right;
}

.about-p {
  text-align: right;
}

.star-empty {
  color: #aaaaaa;
}

.skill {
  color: black;
  font-weight: 300;
}

.skills {
  padding-bottom: 0.5rem;
}

.stars {
  float: right;
}

.skill-list {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.contact-list {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.contact-link {
  font-size: 120%;
  color: #f9f9f9;
  margin: 0 1rem;
  font-weight: 100;
}

.contact-icon {
  font-size: 2rem;
  color: #f9f9f9;
}

.contact-item {
  background-color: inherit;
  border-style: none;
}

.hobby-item {
  text-align: center;
  margin-bottom: 0.7rem;
  color: black;
}

.hobby-button {
  width: 100%;
  text-align: center;
  border-style: none;
  color: #8e6fdc;
}

.hobby-button:hover:not([disabled]) {
  color: #4b2e83;
  background-color: #e6e6e6;
  left: .1em;
}

.list-button {
  width: 100%;
  text-align: left;
  border-style: none;
  color: #8e6fdc;
}

.list-button:hover:not([disabled]) {
  color: #4b2e83;
  background-color: #e6e6e6;
  left: .1em;
}

.rating-holder {
  direction: rtl;
}

.rating-button {
  border-style: none;
  padding: 0;
}

.star-rating:hover {
  color: #4b2e83;
}

.star-rating-1:hover~.star-rating {
  color: #4b2e83;
}

.star-rating-2:hover~.star-rating {
  color: #4b2e83;
}

.star-rating-3:hover~.star-rating {
  color: #4b2e83;
}

.star-rating-4:hover~.star-rating {
  color: #4b2e83;
}

.star-rating-5:hover~.star-rating {
  color: #4b2e83;
}

.star-rating.selected {
  color: #8e6fdc;
}

.star-rating-1.selected~.star-rating {
  color: #8e6fdc;
}

.star-rating-2.selected~.star-rating {
  color: #8e6fdc;
}

.star-rating-3.selected~.star-rating {
  color: #8e6fdc;
}

.star-rating-4.selected~.star-rating {
  color: #8e6fdc;
}

.star-rating-5.selected~.star-rating {
  color: #8e6fdc;
}

.hidden {
  display: none;
}

.fixed .sidebar-container {
  position: fixed;
  top: 5%;
}

.sidebar-container {
  position: absolute;
  top: 100vh;
  right: 2%;
  width: 120px;
  z-index: 999;
}


.navblock {
  background-color: #252525;
  height: 80px;
  padding: 30px 1rem;
  font-weight: 600;
}

.top-button{
  background-color: #252525;
  height:80px;
  padding: 30px 1rem;
  font-weight: 600;
  position: absolute;
  top: calc( 100vh - 80px);
  right: 2%;
  width:120px;
}

@media (max-width: 1200px){

  .fixed .sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
  }

  .sidebar-container {
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: 999;
    right: 0;
  }


  .navblock {
    background-color: #252525;
    font-weight: 600;
    padding: 0.5rem 1rem;
    float: left;
    width: 20%;
    height:auto;
  }

  .top-button{
    background-color: #252525;
    height:80px;
    padding: 30px auto;
    font-weight: 600;
    position: absolute;
    top: calc( 100vh - 80px);
    right: 2%;
    width:120px;
  }

}

@media (max-width: 500px){

.navblock{
  font-size: 10px;
}
}


.top-button a{
  color: #f9f9f9;
  text-decoration: none;
}

.navblock a {
  color: #f9f9f9;
  text-decoration: none;
}

.navblock-active {
  background-color: #8e6fdc;
}

.pulse {
  -webkit-animation: color_change 1.5s infinite alternate;
  -moz-animation: color_change 1.5s infinite alternate;
  -o-animation: color_change 1.5s infinite alternate;
  animation: color_change 1.5s infinite alternate;
}

@-webkit-keyframes color_change {
  from {
    color: #4b2e83;
  }

  to {
    color: #8e6fdc;
  }
}

@-moz-keyframes color_change {
  from {
    color: #4b2e83;
  }

  to {
    color: #8e6fdc;
  }
}


@-o-keyframes color_change {
  from {
    color: #4b2e83;
  }

  to {
    color: #8e6fdc;
  }
}

@keyframes color_change {
  from {
    color: #4b2e83;
  }

  to {
    color: #8e6fdc;
  }
}
